.home {
    padding: 75px;
    
}
.visit{
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
}

.lead {
    font-size: 35px;
    line-height: 30px;
}

p {
    font-size: 35px;
    line-height: 65px;
}

h1 {
    
    font-size: 150px;
}

.card-text h1{
    padding-bottom: 0;
    margin-bottom: 0;
}

